<%= form_for(@buy, url: credit_card_buys_path) do |f| %>
  Data da compra <%= f.date_select :purchase_date, use_month_numbers: true, order: [:day, :month, :year] %> <br/>
  Descrição: <%= f.text_field :description %> <br/>
  Valor <%= f.number_field :value, step: :any %> <br/>
  Parcela atual <%= f.select :current_payment, (1..12) %> <br/>
  Total de parcelas <%= f.select :total_payment, (1..12) %> <br/>
  
  <% @buy.list_of_buyers.each do |key,value| %>
    <div class="clone">
      Nome: <input type="textbox" name="list_of_buyers[][name]" value= <%=key%>  />
      Valor: <input type="number" name="list_of_buyers[][value]" value= <%=value%> /> <br/>
    </div>
    <%= f.submit 'Atualizar compra' %>
  <% end %>
<% end %>