
<%= form_for(@buy, url: credit_card_buys_path) do |f| %>
  Data da compra <%= f.date_select :purchase_date, use_month_numbers: true, order: [:day, :month, :year] %> <br/>
  Descrição: <%= f.text_field :description %> <br/>
  Valor <%= f.number_field :value, step: :any %> <br/>
  Parcela atual <%= f.select :current_payment, (1..12) %> <br/>
  Total de parcelas <%= f.select :total_payment, (1..12) %> <br/>
  
  <div id="clone_new_link">
    <div>
    Nome: <input type="textbox" name="list_of_buyers[][name]" />
    Valor: <input type="number" name="list_of_buyers[][value]"/>

    </div>
  </div>

  <a href="javascript:new_link()">Adicionar novo comprador </a><br/>
  <a href="javascript:del()">Remover comprador</a> <br/>
  <%= f.submit 'Registrar compra' %>
<% end %>

<!-- Template -->
<div id="clone_new_link_tpl" style="display:none">
  <div>
    Nome: <input type="textbox" name="list_of_buyers[][name]" />
    Valor: <input type="number" name="list_of_buyers[][value]"/>
    <br/>
  </div>
</div>

